@model List<IdentityRole>

@{
    ViewData["Title"] = "Index";
    var count = 0;
}



<div class="card">
    <div class="card-head">
        <h4>Roles</h4>
        <a asp-action="create" asp-controller="role" class="btn btn-outline-success">Create</a>
    </div>

    <table class="table table-striped projects">
        <tbody>
            <tr>
                <th scope="row">#</th>
                <th scope="col">Name</th>
                <th scope="col">Setting</th>
            </tr>
            @foreach (var role in Model)
            {
                count++;
        <tr>
            <th scope="row">@count</th>
            <td>@role.Name</td>
            <td>
                <a asp-action="update" asp-controller="role" asp-route-name="@role.Name" class="btn btn-warning">Update</a>
                @*<a data-toggle="modal" data-target="#logoutModal" class="btn btn-danger btn-role-delete">Delete</a>*@
            </td>
        </tr>
                        @*<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Are you sure to Delete?</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">If you sure to Delete item click to Delete button.</div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                        <a asp-action="delete" asp-controller="role" asp-route-name="@role.Name" class="btn btn-primary">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                        }
</table>
</div>


