
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="row" id="scrollspyHeading1">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <div class="pizza-item">
                    <div class="pizza-item-img">
                        <img src="img/pizza/pizza1.jpg" alt="">
                    </div>
                    <div class="pizza-item-text">
                        <div class="text-head">
                            <h4>Italiano</h4>
                        </div>
                        <div class="text-description">
                            <p>Kub Sucuk, Göbələk, Közlənmiş Bibər</p>
                        </div>
                        <div class="price d-grid">
                            <h6>10.90$</h6>
                            <span>-dan başlayaraq</span>
                        </div>
                    </div>
                </div>
            </a>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="img-modal col-xs-12 col-sm-4 col-md-4 col-lg-5">
                                        <img src="img/pizza/pizza1.jpg" alt="">
                                    </div>
                                    <div class="info-modal col-xs-12 col-sm-7 col-md-7 col-lg-6">
                                        <h4 class="pizza-name">Italiano</h4>
                                        <p class="ingridients">Kub Sucuk, Göbələk, Közlənmiş Bibər, Qara Zeytun, Kəklikotu, Pizza Sousu, Mozzarella Pendiri</p>
                                        <hr>
                                        <div class="row">
                                            <div class="count">

                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
                                                            <span><i class="fa fa-minus" aria-hidden="true"></i></span>
                                                        </button>
                                                    </span>
                                                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="quantity-right-plus btn btn-danger btn-number" data-type="plus" data-field="">
                                                            <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                                                        </button>
                                                    </span>
                                                </div>

                                            </div>
                                            <div class="total-price text-center">
                                                <h6 id="total-price">10.90$</h6>
                                            </div>
                                            <div data-id="1" class="btn btn-lg btn-outline-danger addToCart">
                                                SƏBƏTƏ ƏLAVƏ ET
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="scrollable row">
                                            <h6 class="title">Ölçü seçin</h6>
                                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                                                <label class="btn btn-outline-primary" for="btnradio1"><img src="img/pizza//small.png" alt=""><br>Kiçik<br> <span>10.90$</span></label>

                                                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                                                <label class="btn btn-outline-primary" for="btnradio2"><img src="img/pizza/medium.png" alt=""><br>Orta<br> <span>17.90$</span></label>

                                                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                                                <label class="btn btn-outline-primary" for="btnradio3"><img src="img/pizza/extra.png" alt=""><br>Böyük<br> <span>23.90$</span></label>
                                            </div>
                                            <hr>
                                            <h6 class="title">Standart İngridientlər</h6>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                                <label class="form-check-label" for="flexCheckChecked">Kub sucuk</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                                <label class="form-check-label" for="flexCheckChecked">Göbələk</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                                <label class="form-check-label" for="flexCheckChecked">Közlənmiş Bibər</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                                <label class="form-check-label" for="flexCheckChecked">Qara Zeytun</label>
                                            </div>
                                            <hr>
                                            <h6 class="title">Əlavə İngridientlər</h6>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    Mozzarella Pendiri
                                                    <br><span class="price">+2$</span>
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    Çeddar Pendiri
                                                    <br><span class="price">+2$</span>
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    Pepperonni
                                                    <br><span class="price">+2$</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <div class="pizza-item">
                    <div class="pizza-item-img">
                        <img src="img/pizza/pizza2.jpg" alt="">
                    </div>
                    <div class="pizza-item-text">
                        <div class="text-head">
                            <h4>Steyk</h4>
                        </div>
                        <div class="text-description">
                            <p>Kub Sucuk, Göbələk, Közlənmiş Bibər</p>
                        </div>
                        <div class="price d-grid">
                            <h6>10.90$</h6>
                            <span>-dan başlayaraq</span>
                        </div>
                    </div>
                </div>
            </a>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="img-modal col-xs-12 col-sm-5 col-md-5 col-lg-7">
                                        <img src="img/pizza/pizza2.jpg" alt="">
                                    </div>
                                    <div class="pizza-modal col-xs-12 col-sm-5 col-md-5 col-lg-7"></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

            <a href="">
                <div class="pizza-item">
                    <div class="pizza-item-img">
                        <img src="img/pizza/pizza3.jpg" alt="">
                    </div>
                    <div class="pizza-item-text">
                        <div class="text-head">
                            <h4>Mexicano</h4>
                        </div>
                        <div class="text-description">
                            <p>Kub Sucuk, Göbələk, Közlənmiş Bibər</p>
                        </div>
                        <div class="price d-grid">
                            <h6>10.90$</h6>
                            <span>-dan başlayaraq</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="">
                <div class="pizza-item">
                    <div class="pizza-item-img">
                        <img src="img/pizza/pizza4.jpg" alt="">
                    </div>
                    <div class="pizza-item-text">
                        <div class="text-head">
                            <h4>Qril toyuq</h4>
                        </div>
                        <div class="text-description">
                            <p>Kub Sucuk, Göbələk, Közlənmiş Bibər</p>
                        </div>
                        <div class="price d-grid">
                            <h6>10.90$</h6>
                            <span>-dan başlayaraq</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row" id="scrollspyHeading2">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="">
                <div class="pizza-item">
                    <div class="pizza-item-img">
                        <img src="img/pizza/pizza5.jpg" alt="">
                    </div>
                    <div class="pizza-item-text">
                        <div class="text-head">
                            <h4>Marqerita</h4>
                        </div>
                        <div class="text-description">
                            <p>Kub Sucuk, Göbələk, Közlənmiş Bibər</p>
                        </div>
                        <div class="price d-grid">
                            <h6>10.90$</h6>
                            <span>-dan başlayaraq</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="">
                <div class="pizza-item">
                    <div class="pizza-item-img">
                        <img src="img/pizza/pizza6.jpg" alt="">
                    </div>
                    <div class="pizza-item-text">
                        <div class="text-head">
                            <h4>Bol 5-li</h4>
                        </div>
                        <div class="text-description">
                            <p>Kub Sucuk, Göbələk, Közlənmiş Bibər</p>
                        </div>
                        <div class="price d-grid">
                            <h6>10.90$</h6>
                            <span>-dan başlayaraq</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="">
                <div class="pizza-item">
                    <div class="pizza-item-img">
                        <img src="img/pizza/pizza7.jpg" alt="">
                    </div>
                    <div class="pizza-item-text">
                        <div class="text-head">
                            <h4>Pepperoni</h4>
                        </div>
                        <div class="text-description">
                            <p>Kub Sucuk, Göbələk, Közlənmiş Bibər</p>
                        </div>
                        <div class="price d-grid">
                            <h6>10.90$</h6>
                            <span>-dan başlayaraq</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="">
                <div class="pizza-item">
                    <div class="pizza-item-img">
                        <img src="img/pizza/pizza8.jpg" alt="">
                    </div>
                    <div class="pizza-item-text">
                        <div class="text-head">
                            <h4>Fit&Freş</h4>
                        </div>
                        <div class="text-description">
                            <p>Kub Sucuk, Göbələk, Közlənmiş Bibər</p>
                        </div>
                        <div class="price d-grid">
                            <h6>10.90$</h6>
                            <span>-dan başlayaraq</span>
                        </div>
                    </div>
                </div>
        </div>
        </a>
    </div>
    <div class="row" id="scrollspyHeading3">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="">
                <div class="pizza-item">
                    <div class="pizza-item-img">
                        <img src="img/pizza/pizza9.jpg" alt="">
                    </div>
                    <div class="pizza-item-text">
                        <div class="text-head">
                            <h4>Vegi</h4>
                        </div>
                        <div class="text-description">
                            <p>Kub Sucuk, Göbələk, Közlənmiş Bibər</p>
                        </div>
                        <div class="price d-grid">
                            <h6>10.90$</h6>
                            <span>-dan başlayaraq</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="">
                <div class="pizza-item">
                    <div class="pizza-item-img">
                        <img src="img/pizza/pizza10.jpg" alt="">
                    </div>
                    <div class="pizza-item-text">
                        <div class="text-head">
                            <h4>Sosial</h4>
                        </div>
                        <div class="text-description">
                            <p>Kub Sucuk, Göbələk, Közlənmiş Bibər</p>
                        </div>
                        <div class="price d-grid">
                            <h6>10.90$</h6>
                            <span>-dan başlayaraq</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="">
                <div class="pizza-item">
                    <div class="pizza-item-img">
                        <img src="img/pizza/pizza11.jpg" alt="">
                    </div>
                    <div class="pizza-item-text">
                        <div class="text-head">
                            <h4>Portofino</h4>
                        </div>
                        <div class="text-description">
                            <p>Kub Sucuk, Göbələk, Közlənmiş Bibər</p>
                        </div>
                        <div class="price d-grid">
                            <h6>10.90$</h6>
                            <span>-dan başlayaraq</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="">
                <div class="pizza-item">
                    <div class="pizza-item-img">
                        <img src="img/pizza/pizza12.jpg" alt="">
                    </div>
                    <div class="pizza-item-text">
                        <div class="text-head">
                            <h4>Kalipso</h4>
                        </div>
                        <div class="text-description">
                            <p>Kub Sucuk, Göbələk, Közlənmiş Bibər</p>
                        </div>
                        <div class="price d-grid">
                            <h6>10.90$</h6>
                            <span>-dan başlayaraq</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row" id="scrollspyHeading4">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="">
                <div class="pizza-item">
                    <div class="pizza-item-img">
                        <img src="img/pizza/yari-yariya.png" alt="">
                    </div>
                    <div class="pizza-item-text">
                        <div class="text-head">
                            <h4>Yarı-yarıya</h4>
                        </div>
                        <div class="text-description">
                            <p>Seçə bilmirsiz? Onda bir pizzada iki ləzzət..</p>
                        </div>
                        <div class="price d-grid">
                            <h6>8.90$</h6>
                            <span>-dan başlayaraq</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row" id="scrollspyHeading5">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="">
                <div class="pizza-item">
                    <div class="pizza-item-img">
                        <img src="img/pizza/create-own-pizza.png" alt="">
                    </div>
                    <div class="pizza-item-text">
                        <div class="text-head">
                            <h4>öz pizzanı yarat</h4>
                        </div>
                        <div class="text-description">
                            <p>Seçmək olmur? Onda öz pizzanı yarat!</p>
                        </div>
                        <div class="price d-grid">
                            <h6>7.50$</h6>
                            <span>-dan başlayaraq</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>