@model List<Product> 
@{
    ViewData["Title"] = "Index";
    int count = 0;
}

<div class="container">
    @foreach (ProductType type in ViewBag.Types)
    {
        count++;
    <div class="row" id=@("scrollspyHeading"+count)>
        @foreach (Product item in Model.Where(p => p.ProductTypeId == type.Id))
        {
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <a asp-controller="pizza" asp-action="detail" asp-route-id="@item.Id" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <div class="pizza-item">
                        <div class="pizza-item-img">
                            <img src="img/pizza/@item.Image" alt="">
                        </div>
                        <div class="pizza-item-text">
                            <div class="text-head">
                                <h4>@item.Name</h4>
                            </div>
                            <div class="text-description">
                                <p>@item.Description</p>
                            </div>
                            <div class="price d-grid">
                                <h6>@item.Price$</h6>
                                <span>-dan başlayaraq</span>
                            </div>
                        </div>
                    </div>
                </a>
                @await Html.PartialAsync("_ModalPartial",item)
            </div>
        }
    </div>
    }

</div>