
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="">
                <div class="pizza-item">
                    <div class="pizza-item-img">
                        <img src="img/dessert/1.png" alt="">
                    </div>
                    <div class="pizza-item-text">
                        <div class="text-head">
                            <h4>Cinnamon roll</h4>
                        </div>
                        <div class="text-description">
                            <p>Darçınlı İsti Xırçıltılı Roll (12 ədəd)</p>
                        </div>
                        <div class="price">
                            <h6>2.90$</h6>
                            <div class="btn btn-lg btn-outline-danger">
                                SƏBƏTƏ ƏLAVƏ ET
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="">
                <div class="pizza-item">
                    <div class="pizza-item-img">
                        <img src="img/dessert/2.png" alt="">
                    </div>
                    <div class="pizza-item-text">
                        <div class="text-head">
                            <h4>Mozaik keks</h4>
                        </div>
                        <div class="text-description">
                            <p>Şokoladlı Kurabiyəli Soyuq Keks (6 ədəd)</p>
                        </div>
                        <div class="price">
                            <h6>3.60$</h6>
                            <div class="btn btn-lg btn-outline-danger">
                                SƏBƏTƏ ƏLAVƏ ET
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="">
                <div class="pizza-item">
                    <div class="pizza-item-img">
                        <img src="img/dessert/3.png" alt="">
                    </div>
                    <div class="pizza-item-text">
                        <div class="text-head">
                            <h4>şokoladlı sufle</h4>
                        </div>
                        <div class="text-description">
                            <p>Bol Şokoladlı Keks, üstü Xırçıltılı, içi Axışqan İsti şokolad</p>
                        </div>
                        <div class="price">
                            <h6>5.50$</h6>
                            <div class="btn btn-lg btn-outline-danger">
                                SƏBƏTƏ ƏLAVƏ ET
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>