main {
    header {
        #navhead {
            .navbar-item {
                align-items: center;
                justify-content: space-between;
                margin: 0!important;
                .nav-logo {
                    padding: 10px;
                }
                .side-icons {
                    display: flex;
                    font-size: $navbar-font-size;
                    justify-content: flex-end;
                    list-style: none;
                    display: flex;
                    li {
                        padding: 10px;
                        margin: 0px 5px;
                        a {
                            text-decoration: none;
                            img {
                                max-width: 36px;
                            }
                            span {
                                text-decoration: none;
                                color: $navbar-text-color;
                            }
                        }
                        .cart-dropdown {
                            position: absolute;
                            top: 65px;
                            right: 1%;
                            z-index: 1000;
                            width: 400px;
                            border: 1px solid rgba(0, 0, 0, 0.15);
                            background-color: white;
                            border-radius: 5px;
                            text-transform: uppercase;
                            .cart-inside {
                                .empty-cart {
                                    margin: 50px;
                                    text-align: center;
                                    .empty-cart-img {
                                        width: 200px;
                                    }
                                    .empty-cart-text {
                                        font-size: 12px!important;
                                    }
                                }
                            }
                            .cart-bottom {
                                height: 65px;
                                box-shadow: 0px 0px 10px 0.1px $footer-text-color;
                            }
                        }
                    }
                }
            }
        }
        #slider {
            .bannerSlider {
                position: relative;
                // overflow: hidden;
                .slick-list {
                    i {
                        font-size: 75px;
                        color: $slider-icon-color;
                        top: 40%;
                        position: absolute;
                        z-index: 99;
                    }
                    .iconright {
                        right: 0;
                    }
                    .iconleft {
                        left: 0;
                    }
                    .sliderimage {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
        #navmenu {
            .nav-list {
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.20);
                .nav-item {
                    padding: 15px 5px;
                    text-align: center;
                    .red {
                        color: $red-color;
                    }
                    a {
                        text-decoration: none;
                        color: $navbar-text-color;
                        img {
                            max-width: 45px;
                        }
                    }
                }
            }
            #domino {
                align-self: baseline;
                .domino {
                    max-width: 60px!important;
                }
            }
        }
        .stickynavbar {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: #fff;
            z-index: 999;
        }
    }
}