$navbar-text-color: rgba(0, 0, 0, 0.54);
$navbar-font-size: 12px;
$slider-icon-color: gray;
$blue-color:#007eb0;
$red-color:#dd2237;
$button-red-color:#d2112c;
$gray-color: #a4a4a4;
$home-font-family: 'Roboto Condensed',
sans-serif;
$footer-bg-color: rgb(242, 242, 242);
$footer-text-color: rgb(164, 164, 164);
$item-head-text-color: #003752;