
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="">
                <div class="menu-item">
                    <div class="menu-item-img">
                        <img src="img/offers/offer1.png" alt="">
                    </div>
                    <div class="menu-item-text">
                        <h4>2 şokoladlı sufle 8 azn</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="">
                <div class="menu-item">
                    <div class="menu-item-img">
                        <img src="img/offers/2.webp" alt="">
                    </div>
                    <div class="menu-item-text">
                        <h4>2 kiçik pizza 14 azn</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="">
                <div class="menu-item">
                    <div class="menu-item-img">
                        <img src="img/offers/3.webp" alt="">
                    </div>
                    <div class="menu-item-text">
                        <h4>1 orta pizza + çiken pops + kartof dilimləri 16.90 azn</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="">
                <div class="menu-item">
                    <div class="menu-item-img">
                        <img src="img/offers/4.webp" alt="">
                    </div>
                    <div class="menu-item-text">
                        <h4>1 böyük pizza + 1l içki 21 azn</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="">
                <div class="menu-item">
                    <div class="menu-item-img">
                        <img src="img/offers/5.png" alt="">
                    </div>
                    <div class="menu-item-text">
                        <h4>
                            2 orta pizza + 1lt içki 24.90 azn
                        </h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="">
                <div class="menu-item">
                    <div class="menu-item-img">
                        <img src="img/offers/6.webp" alt="">
                    </div>
                    <div class="menu-item-text">
                        <h4>2 böyük pizza 32 azn</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="">
                <div class="menu-item">
                    <div class="menu-item-img">
                        <img src="img/offers/7.webp" alt="">
                    </div>
                    <div class="menu-item-text">
                        <h4>2 orta pizza + 2 çiken kikers + 2 pendirli sarımsaqlı çörək 39.90 azn</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="">
                <div class="menu-item">
                    <div class="menu-item-img">
                        <img src="img/offers/8.webp" alt="">
                    </div>
                    <div class="menu-item-text">
                        <h4>4 orta pizza 38 azn</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>