@model List<Product>
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="menu-item">
                    <div class="menu-item-img">
                        <img src="img/offers/@item.Image" alt="">
                    </div>
                    <div class="menu-item-text">
                        <div class="text-description">
                            <h4>@item.Name</h4>
                        </div>
                        <br>
                        <div class="price">
                            <h6>@item.Price.ToString("F2") AZN</h6>
                            <div data-id="@item.Id" class="btn btn-lg btn-outline-danger addToCart">
                                SƏBƏTƏ ƏLAVƏ ET
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>