#contact-us {
    .page-head-img {}
    .form-section {
        .contact-item {
            .form-control {
                width: 95%;
            }
            margin-top: 15px;
        }
        .contact-btn {
            margin: 15px 0px;
        }
    }
}