@model AppUser
@{
    ViewData["Title"] = "Detail";
}

<div class="container">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>Fullname</th>
                <th>Username</th>
                <th>Email</th>
                <th>Activation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.FullName</td>
                <td>@Model.UserName</td>
                <td>@Model.Email</td>

                @if (!Model.isActive)
                {
            <td><h6 style="color: red;">Deactive</h6></td> }
                        else
                        {
            <td><h6 style="color: lightgreen;">Active</h6></td>}


            </tr>
        </tbody>
    </table>
    <div class="mt-4 text-center">
        <a asp-action="Index" class="btn btn-dark ml-3">Go Back</a>
    </div>
</div>

