@inject UserManager<AppUser> usermanager;
@{ 
    AppUser user = User.Identity.IsAuthenticated ? await usermanager.FindByNameAsync(User.Identity.Name) : null;
}


<section id="profile">
    <div class="container">
        <div class="row">
            <div class="page-head-img mb-5">
                <img src="~/img/headpics/profil.png" alt="That's an image">
            </div>
            <div class="col-lg-12">
                <div class="form-section">
                    <form class="row">
                        <div class="profile-item">
                            <label  class="form-label">Username</label>
                            <input type="text" class="form-control" id="inputAddress2" disabled placeholder="@user.UserName">
                        </div>
                        <div class="profile-item">
                            <label  class="form-label">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" disabled placeholder="@user.Email">
                        </div>
                        <div class="profile-item">
                            <label class="form-label">Mobil nömrə</label>
                            <input class="form-control"disabled placeholder="@user.PhoneNumber">
                        </div>
                        <div class="profile-btn">
                            <button type="submit" class="btn btn-danger">Yeniləmək</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>