@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
    int index = 0;
    int orderItemIndex = 0;
}

@if (TempData["Success"] != null)
{
    @if ((bool)TempData["Success"] == true)
    {
<input type="hidden" id="success" />
    }
    else
    {
<input type="hidden" id="error" />

    }
}
<section id="profile">
    <div class="container">
        <div class="row">
            <div class="page-head-img mb-5">
                <img src="~/img/headpics/profil.png" alt="That's an image">
            </div>
            <div class="col-lg-12">
                <form action="" method="post">
                    <div class="profile-item fieldset">
                        <label class="form-label" asp-for="FullName">Full Name*</label>
                        <input class="form-control" asp-for="FullName" type="text" placeholder="Full Name">
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="profile-item fieldset">
                        <label class="form-label" asp-for="UserName">UserName*</label>
                        <input class="form-control" asp-for="UserName" type="text" placeholder="User Name">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="profile-item fieldset">
                        <label class="form-label" asp-for="Email">Email*</label>
                        <input class="form-control" asp-for="Email" type="email" placeholder="Email Address">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="profile-item fieldset">
                        <label class="form-label" asp-for="CurrentPassword">Hazırki şifrəniz</label>
                        <input class="form-control" asp-for="CurrentPassword" id="CurrentPassword" placeholder="Hazırki şifrənizi daxil edin">
                        <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                    </div>
                    <div class="profile-item fieldset">
                        <label class="form-label" asp-for="NewPassword">Yeni şifrəniz</label>
                        <input class="form-control" asp-for="NewPassword" id="NewPassword" placeholder="Yeni şifrənizi daxil edin">
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="profile-item fieldset">
                        <label class="form-label" asp-for="ConfirmNewPassword">Yeni şifrəniz</label>
                        <input class="form-control" asp-for="ConfirmNewPassword" id="ConfirmNewPassword" placeholder="Yeni şifrənizi təsdiq edin">
                        <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
                    </div>
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <button class="btn btn-danger mt-5" type="submit">Profili yenilə</button>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{
<script>
    $(document).ready(function () {

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "2000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            if ($("#success").length) {
               toastr["success"]("Şifrəniz uğurla dəyişdirildi!")
            }
            else if ($("#error").length) {
                toastr["error"]("Xəta baş verdi!")
            }

    })
</script>
}