
@{
    ViewData["Title"] = "Index";
}
<section id="contact-us">
    <div class="container">
        <div class="row">
            <div class="page-head-img mb-5">
                <img src="img/headpics/contact-us.png" alt="">
            </div>
        </div>
        <div class="form-section">
            <form class="row">
                <div class="col-md-6 contact-item">
                    <label for="name" class="form-label">Ad*</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Ad">
                </div>
                <div class="col-md-6 contact-item">
                    <label for="name" class="form-label">Soyad</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Soyad">
                </div>
                <div class="col-md-6 contact-item">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="col-md-6 contact-item">
                    <label for="tel" class="form-label">Mobil nömrə</label>
                    <input type="tel" class="form-control" id="inputCity" placeholder="Mobil nömrə">
                </div>

                <div class="col-md-6 contact-item">
                    <label for="message" class="form-label">Sizin Mesajınız</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Sizin Mesajınız"></textarea>
                </div>

                <div class="col-12 contact-btn">
                    <button type="submit" class="btn btn-danger">Göndər</button>
                </div>
            </form>
        </div>
    </div>
</section>