@model Message
@{
    ViewData["Title"] = "Index";
    
}
@{ if (TempData["Success"] != null)
    {
        if (bool.Parse(TempData["Success"].ToString()) == true)
        {
            <input type="hidden" id="success" />
        }
        else
        {
            <input type="hidden" id="error" />
        }
    }}
<section id="contact-us">
    <div class="container">
        <div class="row">
            <div class="page-head-img mb-5">
                <img src="img/headpics/contact-us.png" alt="">
            </div>
        </div>
        <div class="form-section">
            <form class="row" asp-action="SendMessage">
                <div class="col-md-6 contact-item">
                    <label asp-for="Name" class="form-label">Ad*</label>
                    <input asp-for="Name" type="text" class="form-control" id="inputAddress" placeholder="Ad">
                    <span class="text-danger" asp-validation-for="Name"></span>

                </div>
                <div class="col-md-6 contact-item">
                    <label asp-for="Surname" class="form-label">Soyad</label>
                    <input asp-for="Surname" type="text" class="form-control" id="inputAddress2" placeholder="Soyad">
                    <span class="text-danger" asp-validation-for="Surname"></span>

                </div>
                <div class="col-md-6 contact-item">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    <span class="text-danger" asp-validation-for="Email"></span>

                </div>
                <div class="col-md-6 contact-item">
                    <label asp-for="Phone" class="form-label">Mobil nömrə</label>
                    <input asp-for="Phone" type="tel" class="form-control" id="inputCity" placeholder="Mobil nömrə">
                    <span class="text-danger" asp-validation-for="Phone"></span>

                </div>

                <div class="col-md-6 contact-item">
                    <label asp-for="MessageDescription" class="form-label">Sizin Mesajınız</label>
                    <textarea asp-for="MessageDescription" class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Sizin Mesajınız"></textarea>
                    <span class="text-danger" asp-validation-for="MessageDescription"></span>

                </div>

                <div class="col-12 contact-btn">
                    <button type="submit" class="btn btn-danger">Göndər</button>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts{
    <script>$(document).ready(function () {
   
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "2000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            if ($("#success").length) {
                toastr["success"]("Mesajınız göndərildi")
            }
            else if ($("#error").length) {
                toastr["error"]("Xəta baş verdi!")
            }

    })
    </script>
}
