#navhead .navbar-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 !important;
}

#navhead .navbar-item .nav-logo {
  padding: 10px;
}

#navhead .navbar-item .side-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}

#navhead .navbar-item .side-icons a {
  padding: 10px;
  margin: 0px 5px;
  text-decoration: none;
}

#navhead .navbar-item .side-icons a img {
  max-width: 36px;
}

#navhead .navbar-item .side-icons a span {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
}

#slider .bannerSlider {
  position: relative;
}

#slider .bannerSlider .slick-list i {
  font-size: 75px;
  color: gray;
  top: 40%;
  position: absolute;
  z-index: 99;
}

#slider .bannerSlider .slick-list .iconright {
  right: 0;
}

#slider .bannerSlider .slick-list .iconleft {
  left: 0;
}

#slider .bannerSlider .slick-list .sliderimage img {
  width: 100%;
}

#navmenu .nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

#navmenu .nav-list .domino {
  max-width: 60px !important;
}

#navmenu .nav-list .nav-item {
  padding: 15px 5px;
  text-align: center;
}

#navmenu .nav-list .nav-item .red {
  color: #dd2237;
}

#navmenu .nav-list .nav-item a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
}

#navmenu .nav-list .nav-item a img {
  max-width: 45px;
}

body main {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold !important;
}

body main .btn {
  text-transform: uppercase;
  margin: 0 10px;
  background-color: #d2112c;
  color: white;
}

body main .section-text {
  text-align: left;
  letter-spacing: 2px;
}

body main .section-text .text-blue {
  font-size: 30px;
  color: #007eb0;
}

body main .section-text .text-red {
  font-size: 46px;
  color: #dd2237;
}

body main .section-text .inner-text {
  font-size: 22px;
  color: #a4a4a4;
}

body main .section-text .stores a img {
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

body main .section-text .stores a img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

body main .section-text .stores a .googleplay {
  height: 71px;
}

body main .section-text .stores a .appstore {
  height: 48px;
}

body main .section-image img {
  width: 100%;
}

body main #createpizza .innersection {
  position: relative;
}

body main #createpizza .innersection .bgimg {
  max-width: 100%;
}

body main #createpizza .innersection .rightimg {
  position: absolute;
  right: 0;
  height: 59%;
  top: 20%;
}

body main #createpizza .innersection button {
  position: absolute;
  right: 4.5%;
  top: 75%;
}

body footer {
  background-color: #f2f2f2;
  color: #a4a4a4;
}

body footer .img-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer .img-list img {
  cursor: pointer;
  margin: 20px;
  width: 70px;
}

body footer .link-list {
  font-size: 14px;
}

body footer .lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer .lists a img {
  height: 31px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

body footer .lists a img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

body footer .lists .store-list img {
  height: 31px;
  -o-object-fit: contain;
     object-fit: contain;
}

body footer .lists .social-list img {
  margin: 0px 10px;
}

body footer .copyrights p {
  margin-bottom: 0px;
}

body footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0px;
}

body footer ul .right-line {
  border-right: 1px solid gray;
  margin: 0px 10px;
}

body footer ul a {
  text-decoration: none;
  color: #a4a4a4;
}

body footer ul a:hover {
  color: #dd2237;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* .container-fluid {
  padding: 0;
  margin: 0;
}

* .row {
  --bs-gutter-x: 0;
}

::-moz-selection {
  background-color: #007eb0;
  color: white;
}

::selection {
  background-color: #007eb0;
  color: white;
}
/*# sourceMappingURL=style.css.map */