@{
    ViewData["Title"] = "Home Page";
}

    <section id="mobapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="section-text">
                        <h5 class="text-blue fw-bolder">Domino's Mobil Tətbiqi</h5>
                        <h1 class="text-red fw-bolder">YENİ TƏTBİQLƏ TEZ VƏ PULSUZ ÇATDIRILMA</h1>
                        <div class="signimg"><img src="~/img/homepageslider/sign.png" alt="That's an image "></div>
                        <div class="inner-text">
                            <p>
                                Sevimli pizzanızı seçin, online sifariş edin. Bu indi Domino’s tətbiqi ilə mümkündür! Siz online olaraq öz pizzanızın inqridientlərini, xəmir tipini, çörəkləri, qəlyanaltıları, sousları və içkiləri mobil tətbiqdən seçib
                                sifariş edə bilərsiniz. Zəngin pizza çeşidləri və ən yaxşı dad Azərbaycanda!
                            </p>
                        </div>
                        <div class="col-12 stores">
                            <a class="col-6 m-2" href="https://apps.apple.com/us/app/dominos-pizza-azerbaijan/id1535012493"> <img class="appstore m-1" src="~/img/footer/App-store.png" alt="That's an image "></a>
                            <a class="col-6" href="https://play.google.com/store/apps/details?id=com.dominospizza.az"> <img class="googleplay" src="~/img/footer/google-play.png" alt="That's an image "></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="section-image">
                        <img src="~/img/homepageslider/home1.png" alt="That's an image ">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="tracking">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="section-text">
                        <h5 class="text-blue fw-bolder">İzləmə</h5>
                        <h1 class="text-red fw-bolder">SİFARİŞİN İZLƏNMƏSİ BARMAĞINIZIN UCUNDADIR</h1>
                        <div class="inner-text">
                            <p>
                                bütün qeyri-müəyyənliklərdən qurtulun. indi sifarişinizin əvvəldən axıra qədər izləyin. domino's pizzanın yeni mobil tətbiqini endirin və izləmə xidmətini əldə edin.
                            </p>
                        </div>
                        <div class="col-12">
                            <a href="login.html">
                                <button class="btn btn-lg btn-outline-danger">
                                    <i class="fas fa-map-marker-alt "></i>
                                    Indi izləyin
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="section-image">
                        <img src="~/img/homepageslider/home2.png" alt="That's an image ">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="prizes">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="section-image">
                        <img src="~/img/homepageslider/home3.png" alt="That's an image ">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="section-text " style="text-align: right;">
                        <h5 class="text-blue fw-bolder">HƏDİYYƏLƏR</h5>
                        <h1 class="text-red fw-bolder">Hər online sifarişdə xallar qazanın</h1>
                        <div class="inner-text">
                            <p>pizza alıcısı üçün əla təklif . domino’s pizza ilə “hədiyyə xallar” qazanın və onları inanılmaz təklif və endirimlərlə əvəzləyin. tələsin və “hədiyyə xallarını” dərhal əldə edin. </p>
                        </div>
                        <div class="col-12">
                            <a href="login.html">
                                <button class="btn btn-lg btn-outline-danger">
                                    <i class="fas fa-map-marker-alt "></i>
                                    Indi sifariş verin
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="createpizza">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 ">
                    <div class="innersection ">
                        <img class="bgimg" src="~/img/homepageslider/home4.jpg " alt="That's an image ">
                        <img class="rightimg" src="~/img/homepageslider/Own-Pizza-az.90c35db8.png" alt="">
                        <a href="login.html">
                            <button class="btn btn-lg btn-outline-danger">
                                <i class="fas fa-shopping-cart"></i> INDI
                                YARAT
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>