@model Slider
@{
    ViewData["Title"] = "Delete";
}

<div class="col-md-6 grid-margin stretch-card">
    <img src="~/img/homepageslider/@Model.Image" width="250" />
</div>
<h3 class="text-danger">Are you sure?</h3>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
<a asp-action="Index" class="btn btn-secondary mt-3">Go Back</a>


