@model Slider
@{ ViewData["Title"] = "Detail"; }

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h4 class="card-title">Slider Image</h4>
                    <div class="card-body">
                        <img class="text-center" src="~/img/homepageslider/@Model.Image" width="250px" />
                        <div class="row justify-content-center">
                            <a asp-action="Index" class="btn btn-outline-primary">Go Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
