@model Settings
@{
    Layout = null;
}

<div class="row ">
    <div class="col-lg-12 ">
        <ul class="copyrights ">
            <li>
                <p>Copyright © @Model.Copyright </p>

            </li>
            <li><span class="right-line "></span></li>
            <li>
                <p>Developed by <a href="~ ">Gunel Alasgarli</a> </p>
            </li>
        </ul>
    </div>
</div>