@model List<BasketViewModel>
@{
    ViewData["Title"] = "Index";
    double total = 0;
    //foreach (var item in Model)
    //    {
    //        total += (double)item.Price * item.Count;
    //    }
        }
}
<section id="cart">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6">
                @foreach (var item in Model)
                {
                    total += (double)item.Price * item.Count;
                    <div class="cart-inside">
                        <div class="empty-cart">
                            <img src="img/homepageslider/empty-cart.844437f4.png" alt="" class="empty-cart-img">
                            <h1 class="empty-cart-text">sizin səbətiniz boşdur</h1>
                        </div>
                        <ul class="cart-list">
                            <li class="cart-list-item">
                                <div class="item-image-holder">
                                    <img src="~/img/Product/@item.Image" alt="That's an image">

                                </div>
                                <div class="info-holder">
                                    <h4 class="product-title">
                                        @item.Name
                                    </h4>
                                    <span class="quantity">@item.Count x</span>
                                    <span class="amount">@total AZN</span>
                                </div>
                                <div class="item-editor">
                                    <a class="item-remove" asp-action="removefromcart" asp-route-id="@item.ProductId">
                                        <i class="fal fa-times"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                }
                <hr>
                <div class="cart-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="total-amount bottom bottom-right">
                                ÜMUMİ @total.ToString("F2") AZN
                            </div>
                        </div>
                        <div class="row">
                            <form class="text-center" method="post">
                                <button asp-controller="Cart" asp-action="EmptyCart" type="submit" class="btn btn-danger">Səbəti Boşalt</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <form class="text-center mx-2">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Adres
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <input type="text" class="form-control" id="inputAddress" placeholder="3 Azadlıq prospekti, Bakı">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    Nömrə
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <input type="text" class="form-control" id="inputPhone" placeholder="0123456789">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    Qeyd
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Sifarişlə və ya adreslə bağlı qeyd..(Blok, mərtəbə)" id="floatingTextarea2" style="height: 100px"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <button class="btn m-2">Sifarişi qəbul et</button>

                </form>
            </div>
        </div>
    </div>
</section>