@model Settings
@inject UserManager<AppUser> usermanager;
@{ 
    AppUser user = User.Identity.IsAuthenticated ? await usermanager.FindByNameAsync(User.Identity.Name) : null;
}

<section id="navhead">
    <div class="container-fluid">
        <div class="custom-responsive-nav">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="About">Domino's Haqqında</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Contact">Əlaqə</a>
                            </li>
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Account" asp-action="Login">Daxil Ol</a>
                                </li>
                            }
                            else
                            {
                                if (!User.IsInRole("User"))
                                { <li class="nav-item">
                                      <a class="nav-link" asp-area="Manage" asp-controller="Dashboard" asp-action="Index">Admin Panelə Keçid</a>
                                </li>
                                }
                                else 
                                {
                                    <li class="nav-item">
                                    <a class="nav-link" asp-controller="Account" asp-action="Profile">Profil, @user.UserName</a>
                                    </li>
                                }
                                
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Account" asp-action="Logout">Çıxış et</a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row navbar-item">
            <div class="nav-logo col-6">
                <a asp-controller="Home" asp-action="Index"><img src="~/img/headpics/@Model.HeaderLogo" alt="That's an image"></a>
            </div>
            <ul class="side-icons col-6">
                <li>
                    <a asp-controller="Location" asp-action="Index">
                        <img src="~/img/icons/shobeler.png" alt="That's an image">
                        <br>
                        <span>
                            Şöbələr
                        </span>
                    </a>
                </li>
                <li class="user text-center">

                    @if (!User.Identity.IsAuthenticated)
                    {<a asp-controller="Account" asp-action="Login">
                            <img src="~/img/icons/account before.png" alt="That's an image">
                            <br>
                            <span>
                                Daxil Ol
                            </span>
                        </a>
                    }
                    else
                    { <a asp-controller="Account" asp-action="Profile">
                            <img src="~/img/icons/account before.png" alt="That's an image">
                            <br>
                            <span>
                                @user.UserName
                            </span>
                        </a>
                        <div class="user-dropdown">
                            <ul class="user-dropdown-list">
                                @if (User.IsInRole("User"))
                                {
                                    <li class="user-dropdown-list-item"><a asp-controller="Account" asp-action="Profile"><i class="fas fa-user"></i>Profil</a></li>
                                }
                                else
                                {
                                    <li class="user-dropdown-list-item"><a asp-area="Manage" asp-controller="Dashboard" asp-action="Index"><i class="fas fa-unlock"></i> Admin Panel</a></li>
                                }
                                <li class="user-dropdown-list-item"><a asp-controller="Account" asp-action="Logout"><i class="fas fa-sign-out-alt"></i>Çıxış et</a></li>
                            </ul>
                        </div>

                    }

                </li>
                    @await Component.InvokeAsync("Basket")
            </ul>

        </div>
    </div>
</section>