@*@model List<BasketViewModel>
@{ Layout = null;
    double totalCount = 0;
    foreach (var item in Model)
    {
        totalCount += (double)item.Price * item.Count;
    } 
}
<li class="cart">
    <a asp-controller="Cart" asp-action="Index">
        <img src="~/img/icons/cart.png" alt="That's an image">
        <br>
        <span>
            Səbət
        </span>
        <span class="badge bg-danger basket"></span>
    </a>

    <div class="cart-dropdown">
        <div class="cart-inside"

            <div class="empty-cart">
                <img src="img/homepageslider/empty-cart.844437f4.png" alt="" class="empty-cart-img">
                <h1 class="empty-cart-text">sizin səbətiniz boşdur</h1>
            </div>
            <ul class="cart-list">
                @foreach (var item in Model)
                {
                    <li class="cart-list-item">
                        <div class="item-image-holder">
                            <img src="~/img/Product/@item.Image">
                        </div>
                        <div class="info-holder">
                            <h6 class="product-title"><a>@item.Name</a></h6>
                            <span class="quantity">@item.Count x</span>
                            <span class="amount">@item.Price$</span>
                        </div>
                        <div class="item-editor">
                            <a class="item-remove">
                                <i class="fal fa-times">
                                </i>
                            </a>
                        </div>

                    </li>

                }

            </ul>
        </div>
        <div class="cart-bottom">
            <div class="container">
                <div class="row">
                    <div class="bottom bottom-left col-6">
                        <button class="btn btn-lg btn-outline-danger addToCart">
                            Səbəti
                            gör
                        </button>
                    </div>
                    <div class="bottom bottom-right col-6">
                        ÜMUMİ @totalCount.ToString("F2") AZN alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>*@