
@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="">
                <div class="pizza-item">
                    <div class="pizza-item-img">
                        <img src="img/bread/1.png" alt="">
                    </div>
                    <div class="pizza-item-text">
                        <div class="text-head">
                            <h4>Pendirli sarımsaqlı çörək</h4>
                        </div>
                        <div class="text-description">
                            <p>Sobada hazırlanmış Pendirli Sarımsaq souslu çörək</p>
                        </div>
                        <div class="price">
                            <h6>5.90$</h6>
                            <div class="btn btn-lg btn-outline-danger">
                                SƏBƏTƏ ƏLAVƏ ET
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="">
                <div class="pizza-item">
                    <div class="pizza-item-img">
                        <img src="img/bread/2.png" alt="">
                    </div>
                    <div class="pizza-item-text">
                        <div class="text-head">
                            <h4>Pendirli sarımsaqlı çörək</h4>
                        </div>
                        <div class="text-description">
                            <p>Sobada hazırlanmış Pendirli Sarımsaq souslu çörək</p>
                        </div>
                        <div class="price">
                            <h6>5.90$</h6>
                            <div class="btn btn-lg btn-outline-danger">
                                SƏBƏTƏ ƏLAVƏ ET
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="">
                <div class="pizza-item">
                    <div class="pizza-item-img">
                        <img src="img/bread/3.png" alt="">
                    </div>
                    <div class="pizza-item-text">
                        <div class="text-head">
                            <h4>Pendirli sarımsaqlı çörək</h4>
                        </div>
                        <div class="text-description">
                            <p>Sobada hazırlanmış Pendirli Sarımsaq souslu çörək</p>
                        </div>
                        <div class="price">
                            <h6>5.90$</h6>
                            <div class="btn btn-lg btn-outline-danger">
                                SƏBƏTƏ ƏLAVƏ ET
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="">
                <div class="pizza-item">
                    <div class="pizza-item-img">
                        <img src="img/bread/4.jpeg" alt="">
                    </div>
                    <div class="pizza-item-text">
                        <div class="text-head">
                            <h4>Pendirli sarımsaqlı çörək</h4>
                        </div>
                        <div class="text-description">
                            <p>Sobada hazırlanmış Pendirli Sarımsaq souslu çörək</p>
                        </div>
                        <div class="price">
                            <h6>5.90$</h6>
                            <div class="btn btn-lg btn-outline-danger">
                                SƏBƏTƏ ƏLAVƏ ET
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
