
@model BillingAddress
@{ ViewData["Title"] = "Index";
    double totalPrice = 0;

if (TempData["Success"] != null)
{
    if (bool.Parse(TempData["Success"].ToString()) == true)
    {
        <input type="hidden" id="success" />
 }
    else
    {
        <input type="hidden" id="error" />
}
}
}


 <section id="checkout">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form class="text-center mx-2" method="post" asp-action="PlaceOrder">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseZero" aria-expanded="false" aria-controls="flush-collapseZero">
                                        Ad Soyad
                                    </button>
                                </h2>
                                <div id="flush-collapseZero" class="accordion-collapse collapse" aria-labelledby="flush-headingZero" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <input asp-for="FullName" type="text" class="form-control" id="inputAddress" placeholder="Ad, Soyad">
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                        Adres
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <input asp-for="Address" type="text" class="form-control" id="inputAddress" placeholder="3 Azadlıq prospekti, Bakı">
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                        Nömrə
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <input asp-for="Phone" type="tel" class="form-control" id="inputPhone" placeholder="0123456789">
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                        Qeyd
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="form-floating">
                                            <textarea asp-for="OrderDescription" class="form-control" placeholder="Sifarişlə və ya adreslə bağlı qeyd..(Blok, mərtəbə)" id="floatingTextarea2" style="height: 100px"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <button type="submit" class="btn m-2">Sifariş et</button>

                    </form>
                </div>

            </div>
        </div>
 </section>
@section Scripts{
    <script>
        $(document).ready(function () {

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "2000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            if ($("#success").length) {
                toastr["success"]("Sifariş qəbul edildi")
            }
            else if ($("#error").length) {
                toastr["error"]("Xəta baş verdi!")
            }

        })
    </script>
}


