
@{
    ViewData["Title"] = "Index";
}

<img class="pagehead-img" src="~/img/headpics/about-us.png" alt="That's a header section image">
<br>
<br>
<div class="about-us">
    <img class="about-us-img" src="~/img/headpics/About-us-content.png" alt="That's an image about dominos pizza">
</div>